<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= current_user.email %>
  <%= current_user.first_name %>
<% end %>


<h1>This is an amazing add</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero expedita nesciunt fugit soluta, saepe dolore magnam, cupiditate aliquam deserunt a at consequuntur dolores ea earum aspernatur nostrum iusto corrupti laudantium architecto. In quasi nisi, tenetur autem beatae, ab culpa ullam tempore nulla molestias veniam, ipsam sint illo. Ipsa beatae, inventore magni fugit? Laborum officia quae nulla quia. Dolorum suscipit dolore, iste at, exercitationem veniam? Earum sapiente suscipit quae reiciendis laboriosam necessitatibus nostrum officiis quam minima amet dolor veniam, magni recusandae ratione dolorum unde ab. Nostrum voluptas, accusantium repellat, nemo atque, quisquam minus eum ipsam maxime nisi quidem sed, minima nam.</p>
<%= link_to "Create a flat", "#", class: "btn btn-primary"  %>
